body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../bg_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px
}

.u3_original {
    background-image: url('../title_bar_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:81px;
}

.u4 {
    position:absolute;
    left:2px;
    top:30px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px
}

.u6_original {
    background-image: url('../notice_bar_files/u3_original.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px
}

.u9_original {
    background-image: url('../control_option_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:20px;
    top:51px;
    width:21px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:20px;
    top:51px;
    width:21px;
    height:40px
}

.u11_original {
    background-image: url('../control_option_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:41px;
    top:51px;
    width:73px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:69px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:41px;
    top:51px;
    width:73px;
    height:40px
}

.u13 {
    position:absolute;
    left:165px;
    top:64px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_original {
    background-image: url('../control_option_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:30px;
    top:160px;
    width:440px;
    height:167px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:173px;
}

.u15 {
    position:absolute;
    left:2px;
    top:76px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:30px;
    top:160px;
    width:440px;
    height:167px
}

.u16 {
    position:absolute;
    left:50px;
    top:180px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../control_option_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:30px;
    top:216px;
    width:439px;
    height:3px;
}

.u17 {
    position:absolute;
    left:30px;
    top:216px;
    width:439px;
    height:3px
}

.u18_line {
    background-image: url('../control_option_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:30px;
    top:272px;
    width:439px;
    height:3px;
}

.u18 {
    position:absolute;
    left:30px;
    top:272px;
    width:439px;
    height:3px
}

.u19 {
    position:absolute;
    left:50px;
    top:236px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:50px;
    top:290px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:30px;
    top:130px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_original {
    background-image: url('../control_option_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:384px;
    top:179px;
    width:72px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:0px;
    width:68px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:384px;
    top:179px;
    width:72px;
    height:20px
}

.u24_original {
    background-image: url('../control_option_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:425px;
    top:174px;
    width:30px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:425px;
    top:174px;
    width:30px;
    height:30px
}

.u26_original {
    background-image: url('../control_option_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:190px;
    top:243px;
    width:223px;
    height:8px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:229px;
    height:14px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-6px;
    width:219px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:190px;
    top:243px;
    width:223px;
    height:8px
}

.u28_original {
    background-image: url('../control_option_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:190px;
    top:243px;
    width:100px;
    height:8px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:14px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-6px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:190px;
    top:243px;
    width:100px;
    height:8px
}

.u30_original {
    background-image: url('../control_option_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:283px;
    top:235px;
    width:20px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:283px;
    top:235px;
    width:20px;
    height:20px
}

.u32 {
    position:absolute;
    left:423px;
    top:240px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:300px;
    top:290px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

