body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../bg_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px
}

.u3_original {
    background-image: url('../title_bar_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:81px;
}

.u4 {
    position:absolute;
    left:2px;
    top:30px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px
}

.u6_original {
    background-image: url('../notice_bar_files/u3_original.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px
}

.u9_original {
    background-image: url('../video_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:20px;
    top:51px;
    width:21px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:20px;
    top:51px;
    width:21px;
    height:40px
}

.u11_original {
    background-image: url('../video_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:41px;
    top:51px;
    width:73px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:69px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:41px;
    top:51px;
    width:73px;
    height:40px
}

.u13_text {
    position:absolute;
    left:165px;
    top:64px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:165px;
    top:64px;
    width:150px;
    height:21px
}

.u14_original {
    background-image: url('../video_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:268px;
    top:71px;
    width:8px;
    height:5px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:11px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-6px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:268px;
    top:71px;
    width:8px;
    height:5px
}

.u16_original {
    background-image: url('../video_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:380px;
    top:51px;
    width:94px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:380px;
    top:51px;
    width:94px;
    height:40px
}

.u18_original {
    background-image: url('../video_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:110px;
    width:480px;
    height:616px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:622px;
}

.u19 {
    position:absolute;
    left:2px;
    top:298px;
    width:476px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:110px;
    width:480px;
    height:616px
}

.u20_original {
    background-image: url('../video_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:727px;
    width:480px;
    height:3px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:9px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-6px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:10px;
    top:727px;
    width:480px;
    height:3px
}

.u22_original {
    background-image: url('../video_files/u20_original.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:807px;
    width:480px;
    height:3px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:9px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-6px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:10px;
    top:807px;
    width:480px;
    height:3px
}

.u24_original {
    background-image: url('../video_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:10px;
    top:730px;
    width:96px;
    height:76px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:76px;
}

.u25 {
    position:absolute;
    left:2px;
    top:30px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:10px;
    top:730px;
    width:96px;
    height:76px
}

.u26_original {
    background-image: url('../video_files/u24_original.png');
}

.u26_container {
    position:absolute;
    left:106px;
    top:730px;
    width:96px;
    height:76px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:76px;
}

.u27 {
    position:absolute;
    left:2px;
    top:30px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:106px;
    top:730px;
    width:96px;
    height:76px
}

.u28_original {
    background-image: url('../video_files/u24_original.png');
}

.u28_container {
    position:absolute;
    left:202px;
    top:730px;
    width:96px;
    height:76px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:76px;
}

.u29 {
    position:absolute;
    left:2px;
    top:30px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:202px;
    top:730px;
    width:96px;
    height:76px
}

.u30_original {
    background-image: url('../video_files/u24_original.png');
}

.u30_container {
    position:absolute;
    left:298px;
    top:730px;
    width:96px;
    height:76px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:76px;
}

.u31 {
    position:absolute;
    left:2px;
    top:30px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:298px;
    top:730px;
    width:96px;
    height:76px
}

.u32_original {
    background-image: url('../video_files/u24_original.png');
}

.u32_container {
    position:absolute;
    left:394px;
    top:730px;
    width:96px;
    height:76px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:76px;
}

.u33 {
    position:absolute;
    left:2px;
    top:30px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:394px;
    top:730px;
    width:96px;
    height:76px
}

