body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../bg_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px
}

.u3_original {
    background-image: url('../nav_bar_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:730px;
    width:480px;
    height:80px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:32px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:10px;
    top:730px;
    width:480px;
    height:80px
}

.u6_original {
    background-image: url('../title_bar_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:81px;
}

.u7 {
    position:absolute;
    left:2px;
    top:30px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px
}

.u9_original {
    background-image: url('../notice_bar_files/u3_original.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px
}

.u12_original {
    background-image: url('../menu_key_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:10px;
    top:730px;
    width:80px;
    height:80px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u13 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:10px;
    top:730px;
    width:80px;
    height:80px
}

.u14_original {
    background-image: url('../menu_key_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:90px;
    top:730px;
    width:80px;
    height:80px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u15 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:90px;
    top:730px;
    width:80px;
    height:80px
}

.u16_original {
    background-image: url('../menu_key_files/u14_original.png');
}

.u16_container {
    position:absolute;
    left:170px;
    top:730px;
    width:80px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u17 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:170px;
    top:730px;
    width:80px;
    height:80px
}

.u18_original {
    background-image: url('../menu_key_files/u14_original.png');
}

.u18_container {
    position:absolute;
    left:250px;
    top:730px;
    width:80px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u19 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:250px;
    top:730px;
    width:80px;
    height:80px
}

.u20_original {
    background-image: url('../menu_key_files/u14_original.png');
}

.u20_container {
    position:absolute;
    left:330px;
    top:730px;
    width:80px;
    height:80px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u21 {
    position:absolute;
    left:2px;
    top:24px;
    width:76px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:330px;
    top:730px;
    width:80px;
    height:80px
}

.u22 {
    position:absolute;
    left:165px;
    top:64px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../menu_key_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:47px;
    top:140px;
    width:114px;
    height:90px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u24 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:47px;
    top:140px;
    width:114px;
    height:90px
}

.u25_original {
    background-image: url('../menu_key_files/u23_original.png');
}

.u25_container {
    position:absolute;
    left:193px;
    top:140px;
    width:114px;
    height:90px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u26 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:193px;
    top:140px;
    width:114px;
    height:90px
}

.u27_original {
    background-image: url('../menu_key_files/u23_original.png');
}

.u27_container {
    position:absolute;
    left:337px;
    top:140px;
    width:114px;
    height:90px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u28 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:337px;
    top:140px;
    width:114px;
    height:90px
}

.u29_original {
    background-image: url('../menu_key_files/u23_original.png');
}

.u29_container {
    position:absolute;
    left:47px;
    top:257px;
    width:114px;
    height:90px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u30 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:47px;
    top:257px;
    width:114px;
    height:90px
}

.u31_original {
    background-image: url('../menu_key_files/u23_original.png');
}

.u31_container {
    position:absolute;
    left:193px;
    top:257px;
    width:114px;
    height:90px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u32 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:193px;
    top:257px;
    width:114px;
    height:90px
}

.u33_original {
    background-image: url('../menu_key_files/u23_original.png');
}

.u33_container {
    position:absolute;
    left:337px;
    top:257px;
    width:114px;
    height:90px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u34 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:337px;
    top:257px;
    width:114px;
    height:90px
}

.u35_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:47px;
    top:378px;
    width:114px;
    height:90px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u36 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:47px;
    top:378px;
    width:114px;
    height:90px
}

.u37_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u37_container {
    position:absolute;
    left:193px;
    top:378px;
    width:114px;
    height:90px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u38 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:193px;
    top:378px;
    width:114px;
    height:90px
}

.u39_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u39_container {
    position:absolute;
    left:337px;
    top:378px;
    width:114px;
    height:90px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u40 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:337px;
    top:378px;
    width:114px;
    height:90px
}

.u41_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u41_container {
    position:absolute;
    left:47px;
    top:500px;
    width:114px;
    height:90px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u42 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:47px;
    top:500px;
    width:114px;
    height:90px
}

.u43_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u43_container {
    position:absolute;
    left:193px;
    top:500px;
    width:114px;
    height:90px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u44 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:193px;
    top:500px;
    width:114px;
    height:90px
}

.u45_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u45_container {
    position:absolute;
    left:337px;
    top:500px;
    width:114px;
    height:90px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u46 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:337px;
    top:500px;
    width:114px;
    height:90px
}

.u47_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u47_container {
    position:absolute;
    left:47px;
    top:622px;
    width:114px;
    height:90px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u48 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:47px;
    top:622px;
    width:114px;
    height:90px
}

.u49_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u49_container {
    position:absolute;
    left:193px;
    top:622px;
    width:114px;
    height:90px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u50 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:193px;
    top:622px;
    width:114px;
    height:90px
}

.u51_original {
    background-image: url('../menu_key_files/u35_original.png');
}

.u51_container {
    position:absolute;
    left:337px;
    top:622px;
    width:114px;
    height:90px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:96px;
}

.u52 {
    position:absolute;
    left:2px;
    top:37px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:337px;
    top:622px;
    width:114px;
    height:90px
}

.u53_original {
    background-image: url('../menu_key_files/u14_original.png');
}

.u53_container {
    position:absolute;
    left:410px;
    top:730px;
    width:80px;
    height:80px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u54 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:410px;
    top:730px;
    width:80px;
    height:80px
}

.u55_original {
    background-image: url('../menu_key_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:10px;
    top:730px;
    width:120px;
    height:80px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u56 {
    position:absolute;
    left:2px;
    top:24px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:10px;
    top:730px;
    width:120px;
    height:80px
}

.u57_original {
    background-image: url('../menu_key_files/u55_original.png');
}

.u57_container {
    position:absolute;
    left:130px;
    top:730px;
    width:120px;
    height:80px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u58 {
    position:absolute;
    left:2px;
    top:24px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:130px;
    top:730px;
    width:120px;
    height:80px
}

.u59_original {
    background-image: url('../menu_key_files/u55_original.png');
}

.u59_container {
    position:absolute;
    left:250px;
    top:730px;
    width:120px;
    height:80px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u60 {
    position:absolute;
    left:2px;
    top:24px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:250px;
    top:730px;
    width:120px;
    height:80px
}

.u61_original {
    background-image: url('../menu_key_files/u55_original.png');
}

.u61_container {
    position:absolute;
    left:370px;
    top:730px;
    width:120px;
    height:80px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u62 {
    position:absolute;
    left:2px;
    top:24px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:370px;
    top:730px;
    width:120px;
    height:80px
}

.u63_line {
    background-image: url('../menu_key_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:10px;
    top:727px;
    width:478px;
    height:5px;
}

.u63 {
    position:absolute;
    left:10px;
    top:727px;
    width:478px;
    height:5px
}

