body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../bg_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px
}

.u3_original {
    background-image: url('../notice_bar_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px
}

.u6_original {
    background-image: url('../loading_page_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:40px;
    top:73px;
    width:410px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:416px;
    height:56px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:406px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:40px;
    top:73px;
    width:410px;
    height:50px
}

.u8 {
    position:absolute;
    left:60px;
    top:90px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_original {
    background-image: url('../loading_page_files/u6_original.png');
}

.u9_container {
    position:absolute;
    left:40px;
    top:150px;
    width:410px;
    height:50px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:416px;
    height:56px;
}

.u10 {
    position:absolute;
    left:2px;
    top:17px;
    width:406px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:40px;
    top:150px;
    width:410px;
    height:50px
}

.u11 {
    position:absolute;
    left:60px;
    top:167px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_original {
    background-image: url('../loading_page_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:40px;
    top:240px;
    width:190px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:40px;
    top:240px;
    width:190px;
    height:50px
}

.u14_original {
    background-image: url('../loading_page_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:260px;
    top:240px;
    width:190px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:56px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:260px;
    top:240px;
    width:190px;
    height:50px
}

.u16 {
    position:absolute;
    left:150px;
    top:710px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_original {
    background-image: url('../loading_page_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u18 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px
}

.u19 {
    position:absolute;
    left:160px;
    top:290px;
    width:170px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_original {
    background-image: url('../loading_page_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:190px;
    top:180px;
    width:80px;
    height:80px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u21 {
    position:absolute;
    left:2px;
    top:30px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:190px;
    top:180px;
    width:80px;
    height:80px
}

