body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../bg_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px
}

.u3_original {
    background-image: url('../nav_bar_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:730px;
    width:120px;
    height:80px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:30px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:10px;
    top:730px;
    width:120px;
    height:80px
}

.u5_original {
    background-image: url('../nav_bar_files/u3_original.png');
}

.u5_container {
    position:absolute;
    left:250px;
    top:730px;
    width:120px;
    height:80px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u6 {
    position:absolute;
    left:2px;
    top:30px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:250px;
    top:730px;
    width:120px;
    height:80px
}

.u7_original {
    background-image: url('../nav_bar_files/u3_original.png');
}

.u7_container {
    position:absolute;
    left:130px;
    top:730px;
    width:120px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u8 {
    position:absolute;
    left:2px;
    top:30px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:130px;
    top:730px;
    width:120px;
    height:80px
}

.u9_original {
    background-image: url('../nav_bar_files/u3_original.png');
}

.u9_container {
    position:absolute;
    left:370px;
    top:730px;
    width:120px;
    height:80px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u10 {
    position:absolute;
    left:2px;
    top:30px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:370px;
    top:730px;
    width:120px;
    height:80px
}

.u12_original {
    background-image: url('../title_bar_files/u3_original.png');
}

.u12_container {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:81px;
}

.u13 {
    position:absolute;
    left:2px;
    top:30px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:10px;
    top:35px;
    width:480px;
    height:75px
}

.u15_original {
    background-image: url('../notice_bar_files/u3_original.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:25px
}

.u18 {
    position:absolute;
    left:165px;
    top:64px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_original {
    background-image: url('../personal_info_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:30px;
    top:130px;
    width:440px;
    height:285px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:291px;
}

.u20 {
    position:absolute;
    left:2px;
    top:134px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:30px;
    top:130px;
    width:440px;
    height:285px
}

.u21 {
    position:absolute;
    left:50px;
    top:150px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:265px;
    top:150px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:449px;
    top:146px;
    width:20px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../personal_info_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:13px;
    top:13px;
    width:29px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:13px;
    top:13px;
    width:29px;
    height:20px
}

.u26_original {
    background-image: url('../personal_info_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:370px;
    top:730px;
    width:120px;
    height:80px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u27 {
    position:absolute;
    left:2px;
    top:30px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:370px;
    top:730px;
    width:120px;
    height:80px
}

.u28_original {
    background-image: url('../personal_info_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:370px;
    top:805px;
    width:120px;
    height:5px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:11px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-6px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:370px;
    top:805px;
    width:120px;
    height:5px
}

.u30_line {
    background-image: url('../personal_info_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:30px;
    top:186px;
    width:439px;
    height:3px;
}

.u30 {
    position:absolute;
    left:30px;
    top:186px;
    width:439px;
    height:3px
}

.u31 {
    position:absolute;
    left:50px;
    top:267px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../personal_info_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:30px;
    top:244px;
    width:439px;
    height:3px;
}

.u32 {
    position:absolute;
    left:30px;
    top:244px;
    width:439px;
    height:3px
}

.u33 {
    position:absolute;
    left:50px;
    top:326px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:449px;
    top:202px;
    width:20px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:449px;
    top:262px;
    width:20px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_original {
    background-image: url('../personal_info_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:20px;
    top:51px;
    width:21px;
    height:40px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:46px;
}

.u37 {
    position:absolute;
    left:2px;
    top:12px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:20px;
    top:51px;
    width:21px;
    height:40px
}

.u38_original {
    background-image: url('../personal_info_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:41px;
    top:51px;
    width:73px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:46px;
}

.u39 {
    position:absolute;
    left:2px;
    top:10px;
    width:69px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:41px;
    top:51px;
    width:73px;
    height:40px
}

.u40 {
    position:absolute;
    left:50px;
    top:381px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:265px;
    top:271px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:265px;
    top:327px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:265px;
    top:376px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../personal_info_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:30px;
    top:301px;
    width:439px;
    height:3px;
}

.u44 {
    position:absolute;
    left:30px;
    top:301px;
    width:439px;
    height:3px
}

.u45 {
    position:absolute;
    left:449px;
    top:317px;
    width:20px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../personal_info_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:30px;
    top:358px;
    width:439px;
    height:3px;
}

.u46 {
    position:absolute;
    left:30px;
    top:358px;
    width:439px;
    height:3px
}

.u47 {
    position:absolute;
    left:50px;
    top:208px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:250px;
    top:208px;
    width:170px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:449px;
    top:373px;
    width:20px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

